.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}   

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-page__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-page__content {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

button {
    background-color: #1E90FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}